{:duct.core/environment :development
 :duct.core/include ["aqoursql/config"]

 :duct.module/sql
 {:database-url "jdbc:mysql://localhost:3316/aqoursql?user=aqoursql_dev&password=password123"}

 :duct.server/pedestal
 {:service #:io.pedestal.http{:join? false}}

 :aqoursql.graphql/service
 {:options {:env :dev}}}
